@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

.first-section {
  background-color: #98357b;
  /* background-image: linear-gradient(#98357b, rgba(0, 0, 0, 0.712)); */
  width: 100%;
  height: 460px;
}
/* create a transparent black colour */

.second-section {
  background: linear-gradient(to bottom, rgba(27, 37, 48, 0.315), black 140px);
  width: 100%;
  position: absolute;
  transform: translateY(-160px);
  color: white;
}

.top > ion-icon {
  font-size: 30px;
}

.detail {
  margin-bottom: 0px;
}

img.round {
  border-radius: 50%;
}

.hearts,
.bi-three-dots {
  font-size: 20px;
  margin-left: 25px;
  position: relative;
  top: 10px;
}

.hearts .bi:nth-child(2) {
  display: none;
}

.hearts:hover .bi:nth-child(1) {
  display: none;
}

.hearts:hover .bi:nth-child(2) {
  display: block;
  color: red;
}

.bi-play-circle-fill {
  font-size: 40px;
  color: green;
}

.play-button {
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50%;
  position: relative;
}

.play-button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 5px;
  border-style: solid;
  border-width: 8px 0px 8px 16px;
  border-color: transparent transparent transparent white;
}

/* .pause-play .pause-btn {
  display: none;
} */

/* .pause-play:hover .play-button {
  display: none;
} */

/* .pause-play:hover .pause-btn {
  display: block;
} */

.back {
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
}

.back::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 2.5px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: white white transparent transparent;
  transform: rotate(225deg);
}

.forward {
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
}

.forward::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 2.5px;
  left: 0;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.562) rgba(255, 255, 255, 0.562)
    transparent transparent;
  transform: rotate(45deg);
}

.onHover:hover {
  background-color: #202020;
  color: white;
  opacity: 0.7;
  font-weight: bold;
}

.moveleft {
  position: relative;
  right: 50px;
}
