.top-background > img {
  height: 80vh;
  width: 100%;
}

.background-top {
  position: absolute;
  top: 140px;
  left: 10px;
}

.queen {
  position: absolute;
  top: 150px;
  left: 10px;
  font-size: 70px;
}

.listener {
  position: absolute;
  top: 250px;
  left: 10px;
  font-size: 10px;
}

.pause-btn {
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50%;
  position: relative;
}

.pause-btn::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0px;
  left: 9.5px;
  border-style: double;
  border-width: 0px 0px 0px 14px;
  border-color: transparent transparent transparent white;
}

.second-part {
  background-color: blue;
}
