.backgroud-image {
  background-image: url("/assets/images/artist/backgroud.jpeg");
  height: 80vh;
  width: 100%;
  position: relative;
}

.back {
  position: absolute;
  bottom: 650px;
  left: 5px;
  z-index: 5;
}

.forward {
  position: absolute;
  bottom: 650px;
  left: 5px;
  z-index: 5;
}

.profile-dropdown {
  position: absolute;
  bottom: 650px;
  right: 5px;
  z-index: 5;
}

.background-icons {
  position: absolute;
  top: 140px;
  left: 10px;
}

.queen {
  position: absolute;
  top: 150px;
  left: 25px;
  font-size: 70px;
}

.listener {
  position: absolute;
  top: 250px;
  left: 1px;
  font-size: 12px;
}

.pause-btn {
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50%;
  position: relative;
}

.pause-btn::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0px;
  left: 9.5px;
  border-style: double;
  border-width: 0px 0px 0px 14px;
  border-color: transparent transparent transparent white;
}

.second-part {
  background: linear-gradient(to bottom, #404040, #121212 180px);
  width: 100%;
  position: absolute;
  transform: translateY(-370px);
  color: white;
}

/* .scroll {
  height: 70vh;
  width: 100%;
  overflow: scroll;
} */

/*  move the follow btn a little bit down */
.follow-btn {
  position: relative;
  top: 30px;
}
