#footer {
    width: 100%;
    height: 90px;
    background-color: #282828;
    color: white;
    position: fixed;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

#footer > .current-song {
    flex-grow: 1.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid pink;
}

#footer > .current-song > div > img {
    width: 56px;
}

#footer > .current-song > div:first-of-type {
    margin-left: 10px;
    border: 1px solid blue;
    max-width: 56px;
}

#footer > .current-song > div:last-of-type {
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    align-items: center;
    height: 50px;
    border: 1px solid yellow;
}

#footer > .current-song > div:last-of-type > .artist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-height: 50px;
    padding: 10px;
}

#footer > .current-song > div:last-of-type > .artist > h5 {
    font-size: x-small;
    font-weight: bolder;
    word-spacing: -1px;
    margin: 0 auto;
}

#footer > .current-song > div:last-of-type > .artist > span {
    font-size: x-small;
    color: #b3b3b3;
}

#footer > .current-song > div:last-of-type > .actions {
    display: flex;
    justify-content: space-between;
}

#footer > .current-song > div:last-of-type > .actions > a {
    color: lightgrey;
    margin-left: 10px;
}

#footer > .current-song > div:last-of-type > .actions > a:hover {
    color: white;
}

#footer > .player-controls {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    margin: auto 0;
    height: 90px;
}

#footer > .player-controls > .player-controls_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid green;
}

#footer > .player-controls > .player-controls_buttons > a {
    margin-left: 10px;
    margin-right: 10px;
    color: lightgray;
}

#footer > .player-controls > .player-controls_buttons > a:hover {
    color: white;
}

.bi-play-fill::before {
    content: "\f4f0" !important;
}

#footer > .player-controls > .progress-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#footer > .player-controls > .progress-container > .progress-background {
    background-color: darkgray;
    width: 250px;
    height: 5px;
    border-radius: 5px;
}

#footer
    > .player-controls
    > .progress-container
    > .progress-background
    > .progress-bar {
    background-color: lightgrey;
    width: 20%;
    height: 5px;
    border-radius: 5px;
    z-index: 2;
}

#footer
    > .player-controls
    > .progress-container
    > .progress-background
    > .progress-bar:hover {
    background-color: #1fdf64;
}

#footer > .player-controls > .progress-container > span {
    font-size: small;
    margin-left: 5px;
    margin-right: 5px;
}

#footer > .volume-controls {
    flex-grow: 1.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid white;
    margin: auto 0;
    height: 90px;
}

#footer > .volume-controls > a {
    margin-left: 5px;
    margin-right: 5px;
    color: lightgrey;
}

#footer > .volume-controls > a:hover {
    color: white;
}

#footer > .volume-controls > .volume-progress-container > .progress-background {
    background-color: #464646;
    width: 100px;
    height: 5px;
    border-radius: 5px;
}

#footer
    > .volume-controls
    > .volume-progress-container
    > .progress-background
    > .progress-bar {
    background-color: lightgrey;
    width: 50%;
    height: 5px;
    border-radius: 5px;
    z-index: 2;
}

#footer
    > .volume-controls
    > .volume-progress-container
    > .progress-background
    > .progress-bar:hover {
    background-color: #1fdf64;
}
