#homepage {
    background-color: #000000;
    background-image: linear-gradient(0deg, #000000 60%, #490000 100%);
    min-height: 170vh;
    color: white;
    margin-left: 340px;
}

.backArrow,
.forwardArrow {
    background-color: black;
    color: white;
    border: 0px solid black;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 17px;
    font-size: 1.4rem;
}

.backArrow:hover,
.forwardArrow:hover {
    background-color: #494949;
    opacity: 0.7;
    font-size: 1.4rem;
}

.img-small img {
    width: 80px;
    height: 80px;
}

.card1 {
    background-color: #a0a0a028;
    height: 80px;
    width: 350px;
    position: relative;
    align-items: space-between;
    flex-direction: row;
    margin-left: 30px;
    margin-bottom: 20px;
}

.card-body1 {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;

    position: absolute;
    left: 40px;
}

.card2 img {
    height: 160px;
    width: 160px;
    padding: 15px;
}

.card2 {
    position: relative;
    background-color: #a0a0a028;
    width: 160px;
    height: 280px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.card-title2 {
    max-width: 200px;
    margin-left: 15px;
}

.card-text2 {
    margin-left: 15px;
    opacity: 0.5;
}

.card-title1 {
    width: 200px;
}

.hoverGreen:hover {
    color: #1db954;
    text-decoration: underline;
}

.hoverH:hover {
    text-decoration: underline;
}

.card1:hover,
.card2:hover {
    background-color: #919191;
    opacity: 0.7;
}
