.the-body {
  border: none;
  justify-content: center;
  text-align: center;
}
.text-style1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 13px;
}
.text-style2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 13px;
  margin: 0%;
  padding-top: 6px;
}
.login-link {
  color: #47b750 !important;
  text-decoration: none;
}
.login-link:hover {
  color: white !important;
  background-color: #47b750;
  text-decoration: none;
}
/* facebook stuff */
.facebook {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: white;
  background-color: #3e5a9b;
  height: 40px;
  border-radius: 50px;
  margin-bottom: 10px;
}
.facebook:hover {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: white;
  background-color: #5873b4;
  height: 40px;
  border-radius: 50px;
  margin-bottom: 10px;
}
.facebook-header {
  color: white;
  background-color: #3e5a9b;
}
.facebook-body {
  text-align: center;
}
.edit-this {
  color: #3e5a9b;
  margin-top: 20px;
  margin-bottom: 20px;
}
.continue-facebook {
  color: white;
  background-color: #3e5a9b;
  width: 70%;
  align-self: center;
  margin-bottom: 70px;
}
.facebook-muted {
  margin-top: 10px;
  color: rgb(133, 132, 132);
  font-size: 13px;
}
.facebook-footer {
  margin-top: 20px;
  font-size: 14px;
  background-color: rgb(255, 227, 224);
  border: solid 1px red;
}
.pop-up-spotify {
  margin-top: 40px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  height: 53px;
  width: 180px;
}
/* apple stuff */
.apple {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: white;
  background-color: black;
  height: 40px;
  border-radius: 50px;
}
.apple:hover {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: white;
  background-color: rgb(39, 39, 39);
  height: 40px;
  border-radius: 50px;
}
.apple-header {
  color: gray;
  background-color: rgb(236, 235, 235);
}
.icon-holder {
  margin-top: 160px;
  justify-items: center;
  margin-bottom: 20px;
}
.logo-apple {
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  height: 65px;
  box-shadow: 0 4px 8px 0 rgba(53, 52, 52, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.the-pluss {
  font-weight: 700;
  font-size: 48px;
  color: rgb(158, 154, 180);
  margin-bottom: 0%;
}
#myButton.apple-button {
  background-color: rgb(160, 160, 180);
  margin-bottom: 20px;
}
.apple-link {
  font-size: 13px;
  color: rgb(92, 130, 253);
  text-decoration: none;
  margin: 0;
}
.apple-link:hover {
  font-size: 14px;
  color: rgb(92, 130, 253);
  background-color: white;
  text-decoration: none;
  margin: 0;
}
.apple-handshake {
  height: 40px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.apple-footer {
  justify-content: center;
}
.apple-close {
  width: 160px;
  background-color: rgb(160, 160, 180);
  border-color: none;
}
/* apple ends here */
.or-content {
  justify-content: center;
}
#logInButton.regular-login {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: white;
  background-color: #47b750;
  height: 40px;
  width: 160px;
  border-radius: 50px;
}
#logInButton.regular-login:hover {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: white;
  background-color: #5bcf65;
  height: 40px;
  width: 160px;
  border-radius: 50px;
}
.forgot-pass {
  margin-top: 10px;
  color: #47b750 !important;
  text-decoration: none;
}
.forgot-pass:hover {
  color: #47b750 !important;
  text-decoration: underline;
}
.signup {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: black;
  background-color: none;
  border: 2px black solid;
  height: 40px;
  width: 100%;
  border-radius: 50px;
}
.signup:hover {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: black;
  background-color: rgb(253, 253, 253);
  border: 2px black solid;
  height: 40px;
  width: 100%;
  border-radius: 50px;
}
.muted-text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgb(170, 168, 168);
}
.captcha {
  margin-top: 8%;
  padding: 5px;
  height: 50px;
  justify-content: flex-end;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.captcha:hover {
  margin-top: 8%;
  padding-left: 5px;
  padding-right: 100px;
  height: 50px;
  justify-content: flex-end;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .cardrules {
    width: 60px;
    justify-content: flex-end;
  }
  .cardrules:hover {
    background-color: blue;
    width: 100px;
  } */
/*------------------------------------------------------*/
/*CSS for the registration page starts here*/
/*------------------------------------------------------*/
.reg-navbar {
  padding-top: 25px;
}
.reg-facebook {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: white;
  background-color: #3e5a9b;
  height: 50px;
  width: 80%;
  border-radius: 50px;
  margin-bottom: 20px;
  align-self: center;
}
.reg-facebook:hover {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: white;
  background-color: #5873b4;
  height: 50px;
  width: 80%;
  border-radius: 50px;
  margin-bottom: 20px;
  align-self: center;
}
.reg-google {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: rgb(77, 77, 77);
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 80%;
  border: rgb(112, 112, 112) solid;
  border-radius: 50px;
  align-self: center;
  margin-bottom: 20px;
}
.reg-google:hover {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: rgb(77, 77, 77);
  background-color: rgb(252, 252, 252);
  height: 50px;
  width: 80%;
  border: rgb(134, 134, 134) solid;
  border-radius: 50px;
  align-self: center;
  margin-bottom: 20px;
}
/* top buttons end here */
.reg-text5 {
  font-weight: 700;
  font-size: 28px;
  color: rgb(0, 0, 0);
  margin-top: 22px;
  margin-bottom: 10px;
  line-height: normal;
  margin-bottom: 30px;
}
.reg-text6 {
  font-weight: 400;
  color: grey;
  font-size: 13px;
  margin: 0%;
  padding-top: 6px;
}
.reg-text1 {
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-size: 13px;
  margin: 0%;
  padding-top: 6px;
  justify-content: left;
}
.reg-text2 {
  padding-top: 20px;
  font-size: 11px;
  color: black;
}
.reg-text22 {
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.reg-text4 {
  font-weight: 400;
  color: rgb(136, 135, 135);
  font-size: 11px;
  text-align: left;
}
.reg-text0 {
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-size: 14px;
  margin: 0%;
  text-align: left;
}
.reg-forminput {
  border-color: black;
  height: 50px;
  padding: -14px;
  padding: 0px;
}
.reg-bd {
  justify-content: space-between;
  padding: 0;
  margin-bottom: 25px;
}
.reg-drop {
  height: 18px;
  font-size: 12px;
}
.reg-drop:hover {
  background-color: gainsboro;
}
.align-leftreg {
  text-align: left;
}
.puff-top {
  margin-top: 10px;
  margin-bottom: 10px;
}
#RegisterButton.regular-registers {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: white;
  background-color: #47b750;
  height: 50px;
  width: 180px;
  border-radius: 50px;
  align-self: center;
  margin-bottom: 35px;
}
#RegisterButton.regular-registers:hover {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: white;
  background-color: #5bcf65;
  height: 50px;
  width: 10px;
  border-radius: 50px;
  align-self: center;
  margin-bottom: 35px;
}
