.the-body {
  border: none;
}
.text-style1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
a:link {
  color: #47b750;
  text-decoration: none;
}
.facebook {
  font: 500 24px white;
  background-color: #3e5a9b;
}
.apple {
  background-color: black;
}
.log-in {
  background-color: #47b750;
}
.signup {
  background-color: none;
  border: 2px black solid;
}
