.the-body {
  border: none;
  justify-content: center;
}
.text-style1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
a:link {
  color: #47b750;
  text-decoration: none;
}
.facebook {
  font-weight: 400;
  font: 24px white;
  background-color: #3e5a9b;
}
.apple {
  font-weight: 400;
  font: 24px white;
  background-color: black;
}
.remeber-login {
  display: inline;
}
.log-in {
  background-color: #47b750;
}
.signup {
  background-color: none;
  border: 2px black solid;
}
.captcha {
  height: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
