#search-page {
  background-color: #121212;
}
.search-barr {
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
  background-color: #121212;
  width: 100%;
  align-content: flex-start;
}
.backArrow,
.forwardArrow {
  background-color: black;
  color: white;
  border: 0px solid black;
  border-radius: 50%;
  margin-right: 20px;
  padding: 10px 17px;
  font-size: 1.2rem;
}
#search-boxbig {
  background-color: #121212;
}
form {
  width: 320px;
  color: none;
  display: flex;
  padding: 2px;
  border: none;
  border-radius: 20px;
  background-color: white;
}
input[type="search"] {
  width: 320px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: none;
  border-radius: inherit;
}

input[type="Artists,songs or podcasts..."]::placeholder {
  color: rgb(255, 255, 255);
}
button[type="submit"] {
  overflow: hidden;
  background-color: white;
  border: none;
  width: 40px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: inherit;
  cursor: pointer;
  opacity: 0.7;
}

.bigpp-texthere {
  font-weight: 700;
  color: white;
  font-size: 28px;
  margin-left: 20px;
  margin-top: 20px;
}
/* grid go here */
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}
.genre-card {
  background-color: #a6b6fd;
  color: white;
  font-weight: 800;
  font-size: 32px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  height: 200px;
}
/* cards end here */
.bottom-fillerepisode {
  background-color: #121212;
  height: 150px;
}
